<div class="uk-padding"  >

        
        <table class="uk-table uk-table-striped  " >
            <thead>
                <tr  >
                       <th style="padding-left:18%"> $key</th>
                     <th  style="padding-left: 20%">name</th>
                     <th style="padding-left:10%">skill</th>
                    <th  style="padding-left:15 ">province</th> 
                    
    
                </tr>
            </thead>
            <tbody>
                <tr *ngFor= " let item of itemArray">
                  
                    <td> {{item.$key}} </td>
                    <td style="padding-right:8%" > {{item.name}} </td>
                    <td   > {{item.skill}} </td>
                    <td> {{item.province}} </td>
                    <td> <button class="uk-button uk-button-primary uk-margin-small-right" type="button" (click)="moreInfo(item.$key)">details</button></td>

    
    
    
    
                 
   
                </tr>
                
            </tbody>
        </table>
     </div> 
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    